.categories {
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #000;
  background: #fff;
  padding: 5px;
  border: 1px solid #ccc;
}
.categories .actions {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;

}
.categories .actions span {
  padding: 0 5px;
  cursor: pointer;
}
.categories p {
  margin-bottom: 0;
}

.modal-content-inner {
  padding: 20px 0 35px;
}
.modal-content-inner  .modal-title {
    font-size: 18px;
    margin-bottom: 15px;
  }
.modal-content-inner input {
    margin-bottom: 20px;
  }
.modal-content-inner .btn {
    width: 100px;
    margin-right: 10px;
  }

