<div *ngIf="data">
  <div class="add-btn btn btn-main mb-15" (click)="createCategoty()"> Add Category </div>

  <div *ngFor="let categoryDrill of data; let i = index" class="categories mb-15">
    <p (click)="detailClicked(categoryDrill, i)">
      {{categoryDrill.title}}
    </p>
    <div class="actions">
      <span class="edit glyphicon glyphicon-pencil" title="Edit" (click)="edit(categoryDrill, i)"></span>
      <span class="delete glyphicon glyphicon-trash" title="Remove" (click)="remove(i)"></span>
    </div>
  </div>
</div>

<ngx-smart-modal #removeModal identifier="removeModal">
  <div class="modal-content-inner">
    <p class="modal-title text-center">Are you sure you want to delete the drill?</p>
    <div class="text-center">
      <button class="btn btn-danger" (click)="removeModal.close()">Cancel</button>
      <button class="btn btn-primary" (click)="submitRemove()">Remove</button>
    </div>
  </div>
</ngx-smart-modal>

<ngx-smart-modal #createModal identifier="createModal">
  <div class="modal-content-inner">
    <p class="modal-title text-center" *ngIf="actionType === 'submitCreate'">Create New Category</p>
    <p class="modal-title text-center" *ngIf="actionType === 'submitEdit'">Edit Category</p>
    <p>
      <input type="text" placeholder="Category Title" [(ngModel)]="categoryTitle" class="form-control">
    </p>
    <div class="text-center">
      <button class="btn btn-danger" (click)="createModal.close()">Cancel</button>
      <button class="btn btn-primary" (click)="submit()">Create</button>
    </div>

  </div>
</ngx-smart-modal>
