.drill {
  margin: 25px auto;
  background: #fff;
}

.drill .actions span {
      display: inline-block;
      margin-left: 10px;
        padding: 0;
}

.actions .btn:hover {
    color:#fff;
}

.actions .btn:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.actions .btn:focus {
    color: #fff;
    outline: none;
}

.btn-link {
    color: #fff;
    text-decoration: underline;
}



.back img {
    height: 17px;
  }
.back .btn {
    margin-right: 10px;
  }

.modal-content-inner {
  padding: 20px 0 35px;
}
.modal-content-inner .modal-title {
    font-size: 18px;
    margin-bottom: 15px;
  }

.modal-content-inner input {
    margin-bottom: 20px;
  }
.modal-content-inner .btn {
    width: 100px;
    margin-right: 10px;
  }
.modal-content-inner .form-control{
    resize: vertical
  }

.main-title {
  color: #035596;
}

.glyphicon {
  top: 0;
}

.dropdown-menu {
  top: 40px;
  right: 0;
  left: auto;
  padding: 10px 5px;
  margin: 5px 0;
}
.dropdown-menu li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 5px;
}
.dropdown-menu li input {
  margin: 0 5px 0 0;
}
.dropdown-menu li  label {
  margin-bottom: 0;
  color: #000;
  font-weight: 500;
}

.input-group-addon {
  width: 110px;
}

.btn-primary {
  font-weight: 600;
  text-transform: uppercase;
  border-color: transparent;
  background-color: #0070c9;
}

.btn-primary:hover {
  background-color: #035596;
}

.drill-head-section {
    padding: 15px;
    background: #0070c9;
    color: #fff;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.drill-heading {
    color: #fff;
    font-size: 18px;
    line-height: unset;
    padding: 4px 0;
}

.drill-content {
    padding: 10px 20px 30px;
}

.mb-0 {
    margin-bottom: 0;
}

iframe {
    width: 100%;
}
