<div *ngIf="drill" class="">
  <div>
    <div class="back">
      <button (click)="back()" type="button" class="btn btn-primary">
        <img src="../../../assets/images/60577.png" alt="">
        Back
      </button>
      <button (click)="create()" class="btn btn-main">Create Drill</button>
    </div>
  </div>
  <h2 class="text-center main-title">{{drill.title}}</h2>
  <div *ngFor="let item of drill.items; let i = index" class="drill row">
      <div class="drill-head-section flexbox">
        <h3 class="drill-heading m-0">{{item.title}}</h3>
        <div class="actions">
          <span class="glyphicon glyphicon-pencil btn" title="Edit" (click)="edit(item, i)"></span>
          <span class="glyphicon glyphicon-trash btn" title="Remove" (click)="remove(i)"></span>
          <span class="dropdown" dropdown>
            <button class="btn btn-link" dropdown-open>Add to plan</button>
            <ul class="dropdown-menu" dropdown-not-closable-zone>
              <li *ngFor="let plan of plans">
                <input type="checkbox" [checked]="check(plan, item)" (change)="addToPlan(plan, item)">
                <label>
                  {{plan.description[1].name}}
                </label>
              </li>
            </ul>
          </span>
        </div>
      </div>
      <div class="drill-content">
        <p *ngIf="item.descriptionA">{{item.descriptionA}}</p>
        <p *ngIf="item.descriptionB">{{item.descriptionB}}</p>
        <p *ngIf="item.descriptionC">{{item.descriptionC}}</p>
        <p *ngIf="item.descriptionD">{{item.descriptionD}}</p>
        <p *ngIf="item.descriptionE">{{item.descriptionE}}</p>
        <p *ngIf="item.descriptionF">{{item.descriptionF}}</p>
        <p class="mb-0">
          <iframe width="520" height="310" class="e2e-iframe-trusted-src" [src]="sanitizer.bypassSecurityTrustResourceUrl(item.videoURL)" frameborder="0" allowfullscreen></iframe>
        </p>
      </div>
  </div>
</div>
<ngx-smart-modal  *ngIf="drill" #removeModal identifier="removeModal">
  <div class="modal-content-inner">
    <p class="modal-title text-center">Are you sure you want to delete the drill?</p>
    <div class="text-center">
      <button class="btn btn-danger" (click)="removeModal.close()">Cancel</button>
      <button class="btn btn-primary" (click)="submitRemove()">Remove</button>
    </div>
  </div>
</ngx-smart-modal>

<ngx-smart-modal  *ngIf="drill" #editModal identifier="editModal">
  <div class="modal-content-inner">
    <p class="modal-title text-center">Edit Drill</p>
   <div *ngIf="selectedDrill">
       <div class="form-group">
         <div class="input-group">
           <div class="input-group-addon">Title</div>
           <textarea class="form-control" [(ngModel)]="selectedDrill.title" name="" id="title" cols="30" rows="3">{{selectedDrill.title}}</textarea>
         </div>
       </div>
       <div class="form-group">
         <div class="input-group">
           <div class="input-group-addon">Description A</div>
           <textarea class="form-control" [(ngModel)]="selectedDrill.descriptionA" name="" id="descriptionA" cols="30" rows="3">{{selectedDrill.descriptionA}}</textarea>
         </div>
       </div>
       <div class="form-group">
         <div class="input-group">
           <div class="input-group-addon">Description B</div>
           <textarea class="form-control" [(ngModel)]="selectedDrill.descriptionB" name="" id="descriptionB" cols="30" rows="3">{{selectedDrill.descriptionB}}</textarea>
         </div>
       </div>
       <div class="form-group">
         <div class="input-group">
           <div class="input-group-addon">Description C</div>
           <textarea class="form-control" [(ngModel)]="selectedDrill.descriptionC" name="" id="descriptionC" cols="30" rows="3">{{selectedDrill.descriptionC}}</textarea>
         </div>
       </div>
       <div class="form-group">
         <div class="input-group">
           <div class="input-group-addon">Description D</div>
           <textarea class="form-control" [(ngModel)]="selectedDrill.descriptionD" name="" id="descriptionD" cols="30" rows="3">{{selectedDrill.descriptionD}}</textarea>
         </div>
       </div>
       <div class="form-group">
         <div class="input-group">
           <div class="input-group-addon">Description E</div>
           <textarea class="form-control" [(ngModel)]="selectedDrill.descriptionE" name="" id="descriptionE" cols="30" rows="3">{{selectedDrill.descriptionE}}</textarea>
         </div>
       </div>
       <div class="form-group">
         <div class="input-group">
           <div class="input-group-addon">Description F</div>
           <textarea  class="form-control" [(ngModel)]="selectedDrill.descriptionF" name="" id="descriptionF" cols="30" rows="3">{{selectedDrill.descriptionF}}</textarea>
         </div>
       </div>
       <div class="form-group">
         <div class="input-group">
           <div class="input-group-addon">Video Url</div>
           <textarea  class="form-control" [(ngModel)]="selectedDrill.videoURL" name="" id="videoURL" cols="30" rows="3">{{selectedDrill.videoURL}}</textarea>
         </div>
       </div>
   </div>

  <div class="text-center">
    <button class="btn btn-danger" (click)="editModal.close()">Cancel</button>
    <button class="btn btn-primary" (click)="submitEdit()">Save</button>
  </div>
  </div>
</ngx-smart-modal>
